:root{

	--chat-header: #fff;
    --chat-text-area-color: #fff;
    --chat-background: #F2EEEE;
    --emoji-picker-background: #fff;
    --modal-bg-color: #fff;
}   

*{
    outline: none;
    box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0px;
	font-family: sans-serif, 'Segoe UI', 'Roboto', 'Oxygen',
	'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 22px;
    /* min-height: calc(100vh -10px); */
}

.root, .App{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

a{
	color: #08a14d;
	text-decoration: none;
}

.icon{
	max-height: 30px;
	max-width: 30px;
}

.column{
	display: flex;
	flex-direction: column;
}

.row{
	display: flex;
}

.margin-10px{
	margin: 10px;
}

.center{
	justify-content: center;
	align-items: center;
}

.error{
    color: #f60303;
}

.font-18px{
	font-size: 18px;
}

.font-14px{
	font-size: 14px;
}

.title-22px{
    font-size: 22px;
    font-weight: 400;
}

.title-18px{
    font-size: 18px;
    font-weight: 555;
}

.right-end{
    margin-left: auto;
}

.left-end{
    margin-right: auto;
}


.input{
    background-color: transparent;
    border-radius: 4px;
    padding: 4px;
    border: 3px solid #878585;
}

.input:hover{
    border: 3px solid #0ec3ec;
}

.input:active, .input:focus{
    border: 3px solid #079cbd;
}

.input-error, .input-error:hover, .input-error:focus{
    border: 3px solid #f61010;
}


.avatar{
    width: 250px;
    height: 250px;
    clip-path: circle(50%);
    background-color: #19adf8;
}

/* --------------------------- loading wheel ----------------------------- */

.loading-wheel {
    border: 8px solid #cfcdcd;
    border-radius: 50%;
    border-top: 8px solid #3498db;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


/* ---------------- chat space ------------- */

.chat-page{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: var(--chat-background);
}

.space-name{
	font-weight: 400;
}

.space-tag{
	color: #878585;
}

.space-icon{
	width: 50px;
	height: 50px;
	clip-path: circle(50%);
	background-color: #878585;
}

.chat-header{
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 2;
	width: 100%;
	display: flex;
	background-color: var(--chat-header);
	height: 60px;
	align-items: center;
}

.peckspace-promo{
	display: block;
	font-size: 18px;
}


.chat-body{
    position: relative;
    top: 60px;
    height: calc(100% - 120px);
    padding: 20px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    gap: 20px;
    list-style: none;
    width: 100%;
    overflow-x: hidden;
    /* background-color: #08a14d; */
    justify-self: center;
    align-self: center;
}

/* ------------------ chat card --------------------- */

.chat-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 5px;
    max-width: fit-content;
    height: fit-content;
}

.chat-card .message-body{
    min-height: 10px;
    max-width: 90%;
    border-radius: 5px;
    white-space: pre-line;
    overflow-wrap: break-word;
    word-break: break-all;
    word-wrap: break-word;
    padding: 10px;
    width: max-content;
    height: max-content;
    box-shadow: 0 0 10px #4b779d;
}

.chat-card .user-icon{
    width: 40px;
    height: 40px;
    /* clip-path: circle(50%); */
	background-color: #000000;
    box-shadow: 0 0 10px #4b779d;
}

.sender{
    justify-content: end;
}

.receiver{
    background-color: #c8c6c6;
    margin-left: 10px;
}

.sender{
    background-color: #26b3ef;
    margin-right: 10px;
}

.chat-card .username-time{
    color: #858484;
    font-size: 14px;
}

/* ----------------- message input container --------------*/
.message-container{
    width: 100%;
    z-index: 2;
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0px;
}

.send-btn{
    background-color: #1fc111;
    border: 0px;
    border-radius: 50%;
    margin: 5px;
    min-width: 50px;
    max-width: 150px;
    height: 50px;
    box-shadow: 0 0 10px #6c6b6b;
}

.send-btn:hover{
    background-color: #ffff00;
    cursor: pointer;
}

/* ------------- auto resize text box -------------------------- */
.autoresize-container{
    position: relative;
    bottom: -15px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 100%;
    /* max-height: 100%; */
}

.media-options{
    background-color: transparent;
    z-index: 3;
    position: absolute;
    bottom: 5px;
    right: 5%;
    display: flex;
    align-items: center;
}

.media-options svg:hover{
    cursor: pointer;
}

.media-options > * + *{
    margin: 8px;
}

.autoresize{
    position: absolute;
    top: auto;
    bottom: 0px;
    border: 0px;
    color: var(--default-font-color);
    border-radius: 5px;
    overflow: auto;
    resize: none;
    width: 99%;
    min-height: 40px;
    max-height: 150px;
    padding: 8px;
    box-shadow: 0 0 10px #6c6b6b;
    font-size: 18px;
}

/* --------------------- emoji-picker -------------- */

.emoji-picker{
    position: absolute;
    bottom: 60px;
    right: 0px;
    display: flex;
    flex-direction: column;
    z-index: 3;
    padding: 5px;
    height: 300px;
    min-width: 300px;
    width: fit-content;
    max-width: 30%;
    background-color: var(--emoji-picker-background);
    border-radius: 5px;
    box-shadow: 0 0 5px #a19f9f;
}

.emoji-picker input{
    border: 3px solid #19adf8;
    margin-bottom: 5px;
    border-radius: 2px;
}

.emoji-container{
    display: grid;
    grid-template-columns: repeat(5, 50px);
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: black;
    list-style: none;
    overflow-y: auto;
}

.emoji-container li{
    padding: 5px;
}

.emoji-container li:hover{
    background-color: #8c8a8a77;
    cursor: pointer;
}


/* --------------------- drop-down --------------- */

.dropdown-container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dropdown{
    min-width: 160px;
    position: absolute;
    top: 90%;
    left: 50px;

    display: flex;
    flex-direction: column;
    border-radius: 2px;
    /* background-color: #838080; */
    background-color: #fff;
    box-shadow: 0 0 4px #050f5fe1;
    z-index: 2;
}

.more-options-btn{
    /* position: absolute;
    left: -50px; */
    display: flex;
    max-width: 25px;
    max-height: 25px;
}

.more-options-btn:hover{
    background-color: #7a79795c;
    cursor: pointer;
}


.dropdown-btn{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-size: 16px;
    padding: 4px;
    margin: 3px;
    cursor: pointer;
}

.dropdown-btn:hover{
    background-color: #b3b1b15e;
}


/* --------------------- cropper ------------------ */

.cropper{
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    /* margin: 10px; */
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 70%;
    border-radius: 5px;
    background-color: #858484;
    box-shadow: 0 0 5px #a19f9f;
    z-index: 6;
}   

    .cropper canvas{
        display: none;
    }

    .crop-container{
        position: relative;
        height: 80%;
        display: flex;
        border-radius: inherit;
    }
        .crop{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0px;

        }
    
    .crop-container .slider-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cropper__controls{
        background-color: #474646;
        height: 20%;
    }

    .cropper__btns__container{
        display: flex;
        justify-content: space-around;
    }

    .cropper__btns__container .btn{
        height: 40px;
        width: 20%;
        border-radius: 25px;
    }

    .cropper__controls .btn{
        /* margin */
        min-width: 60px;
    }


/* ---------------------- slider -------------- */

.slider__container{
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* ----------------------- zoomable image ------------------------ */
.zoomable-image-container{
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #e77247b9;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    z-index: 6;
}

    .zoomable-image-container #close-btn{
        position: fixed;
        top: 30px;
        left: 30px;
        width: 50px;
        height: 50px;
        z-index: 2;
        cursor: pointer;
        background-color: #3e3b3b76;
        border-radius: 50%;
        padding: 4px;
    }

    .zoomable-img-container{
        margin: 5px;
        max-height: 90%;
        min-height: 40%;
        width: 98%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }

    .zoomable-img-container img{
        width: 100%;
        height: auto;
        min-height: 250px;
        max-height: calc(100vh - 20px);
        /* object-fit: cover; */
    }

/* -------------------------- modals ----------------------- */

.modal{
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--modal-bg-color);
    max-width: 80%;
    padding: 5px;
    z-index: 5;
    border-radius: 5px;
    box-shadow: 0 0 10px #adadad;
}

.registration-modal{
    max-width: 450px;
    width: fit-content;
    text-align: center;
}

.registration-modal .btn{
    height: 40px;
    width: 40px;
    border: 0px;
    background-color: #1e9adde5;
    border-radius: 50%;
}

.registration-modal .btn:hover{
    background-color: #106784e5;
}

.registration-modal .btn:disabled{
    background-color: #858484c4;
}

.registration-modal .input{
    width: 80%;
}

.registration-modal .loading-wheel{
    width: 40px;
    height: 40px;
}

.cookie-modal{
    padding: 10px;
    top: unset;
    bottom: 50px;
    transform: unset;
    left: auto;
    max-width: 450px;
    background-color: #ffff5f;
    max-height: max-content;
}

.cookie-modal img{
    max-width: 250px;
    max-height: 250px;
}

.cookie-modal .btn{
    padding: 10px;
    border-radius: 5px;
    max-width: 300px;
    color: #fff;
    cursor: pointer;
    background-color: #b41c1ce3;
}

.timed-modal{
    position: fixed;
    z-index: 6;
    top: 40px;
    left: 50%;
    padding: 10px;
    transform: translate(-50%);
    font-size: 18px;
    color: #fff;
    max-width: 100%;
    min-width: 250px;
    min-height: 40px;
    background-color: #079cbd;
    border-radius: 5px;
    box-shadow: 0 0 10px #8a8989;
}

/* --------------------------- error page ------------------------- */

.error-page{
    font-family: Comic Sans MS, Comic Sans, cursive;
    height: 100%;
    width: 100%;
    font-weight: 600;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error-page-img{
    height: auto;
    width: auto;
}

.error-page .btn{
    padding: 10px;
    background-color: #08a14d;
    color: #fff;
}

.error-page .btn:hover{
    background-color: #0a813f;
}


/* --------------------------------*/

.linkify-link-color{
    color: #000000;
    border-bottom: 1px solid #000000;
}

.hidden{
    visibility: hidden;
}