@media screen and (max-width: 600px) {

    .modal{
        top: unset;
        bottom: 10%;
        transform: unset;
        transform: translateX(-50%);
    }

    .registration-modal{
        /* bottom: auto; */
        max-width: 350px;
        max-height: min-content;
    }

}