@media screen and (max-width: 600px) {

    .registration-modal{
        top: unset;
        bottom: 10%;
        transform: unset;
        transform: translateX(-50%);
    }

    .info{
        max-width: 100px;
    }

    .space-name{
        font-size: 18px;
    }

    .registration-modal{
        /* bottom: auto; */
        max-width: 350px;
        max-height: min-content;
    }

    .peckspace-promo{
        display: none;
    }

    .space-content{
        display: flex;
        grid-template-columns: unset;
        flex-direction: column;
        /* justify-content: center; */
        justify-items: center;
    }

}