@media screen and (max-width: 600px) {

    .mafia-info-modal{
        left: 50%;
    }

    .registration-modal{
        position: fixed;
        top: unset;
        z-index: 4;
        transform: unset;
        transform: translateX(-50%);
        max-width: 350px;
        max-height: min-content;
        bottom: 10px;
    }

    .mafia-reg-modal{
        bottom: 2px;
    }

    .info{
        max-width: 100px;
    }

    .mafia-name{
        font-size: 18px;
    }

    .peckspace-promo{
        display: none;
    }

    .mafia-content{
        display: flex;
        grid-template-columns: unset;
        flex-direction: column;
        /* justify-content: center; */
        justify-items: center;
    }

    .message-container{
        position: fixed;
        bottom: 0px;
        display: flex;
    }

    .chat-body{
        width: 100%;
    }

}